## Phase 4 - Capstone Project (Clustering)

In [1]:
#Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [13]:
df = pd.read_csv("C:/Users/user/Desktop/Phase_4_dataset.csv")
df

,STATE_UT,DISTRICT,YEAR,MURDER,RAPE,KIDNAPPING_AND_ABDUCTION,KIDNAPPING_AND_ABDUCTION_OF_WOMEN_AND_GIRLS,KIDNAPPING_AND_ABDUCTION_OF_OTHERS,DACOITY,ROBBERY,BURGLARY,THEFT,DOWRY_DEATHS
0,ANDHRA PRADESH,ADILABAD,2001,101,50,46,30,16,9,41,198,199,16
1,ANDHRA PRADESH,ANANTAPUR,2001,151,23,53,30,23,8,16,191,366,7
2,ANDHRA PRADESH,CHITTOOR,2001,101,27,59,34,25,4,14,237,723,14
3,ANDHRA PRADESH,CUDDAPAH,2001,80,20,25,20,5,1,4,98,173,17
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,23,49,26,23,4,25,437,1021,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8592,DELHI UT,STF,2012,0,0,0,0,0,0,0,0,0,0
8593,DELHI UT,WEST,2012,52,79,454,256,198,2,52,186,2352,18
8594,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,3,7,0
8595,PUDUCHERRY,KARAIKAL,2012,5,6,2,2,0,0,3,21,81,0
8596,PUDUCHERRY,PUDUCHERRY,2012,24,7,17,14,3,5,13,56,577,0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8597 entries, 0 to 8596
Data columns (total 13 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   STATE_UT                                     8597 non-null   object
 1   DISTRICT                                     8597 non-null   object
 2   YEAR                                         8597 non-null   int64
 3   MURDER                                       8597 non-null   int64
 4   RAPE                                         8597 non-null   int64
 5   KIDNAPPING_AND_ABDUCTION                     8597 non-null   int64
 6   KIDNAPPING_AND_ABDUCTION_OF_WOMEN_AND_GIRLS  8597 non-null   int64
 7   KIDNAPPING_AND_ABDUCTION_OF_OTHERS           8597 non-null   int64
 8   DACOITY                                      8597 non-null   int64
 9   ROBBERY                                      8597 non-null   int64
 10  BURGLARY                                     8597 non-null   int64
 11  THEFT                                        8597 non-null   int64
 12  DOWRY_DEATHS                                 8597 non-null   int64
dtypes: int64(11), object(2)
memory usage: 873.3+ KB

In [15]:
#Converting Year to str type
df['YEAR'] = df['YEAR'].astype(str)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8597 entries, 0 to 8596
Data columns (total 13 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   STATE_UT                                     8597 non-null   object
 1   DISTRICT                                     8597 non-null   object
 2   YEAR                                         8597 non-null   object
 3   MURDER                                       8597 non-null   int64
 4   RAPE                                         8597 non-null   int64
 5   KIDNAPPING_AND_ABDUCTION                     8597 non-null   int64
 6   KIDNAPPING_AND_ABDUCTION_OF_WOMEN_AND_GIRLS  8597 non-null   int64
 7   KIDNAPPING_AND_ABDUCTION_OF_OTHERS           8597 non-null   int64
 8   DACOITY                                      8597 non-null   int64
 9   ROBBERY                                      8597 non-null   int64
 10  BURGLARY                                     8597 non-null   int64
 11  THEFT                                        8597 non-null   int64
 12  DOWRY_DEATHS                                 8597 non-null   int64
dtypes: int64(10), object(3)
memory usage: 873.3+ KB

#### 4.1 - Creating Clusters

In [6]:
#I will be using K-means clustering for the generation of clusters
#Importing Libraries
from sklearn.cluster import KMeans

In [48]:
k = 3
kmeans = KMeans(n_clusters = k)
y_predicted = kmeans.fit_predict(df[['MURDER','RAPE','KIDNAPPING_AND_ABDUCTION','KIDNAPPING_AND_ABDUCTION_OF_WOMEN_AND_GIRLS','KIDNAPPING_AND_ABDUCTION_OF_OTHERS']])
y_predicted

array([1, 1, 1, ..., 0, 0, 0])

In [49]:
df['Cluster'] = y_predicted
df

,STATE_UT,DISTRICT,YEAR,MURDER,RAPE,KIDNAPPING_AND_ABDUCTION,KIDNAPPING_AND_ABDUCTION_OF_WOMEN_AND_GIRLS,KIDNAPPING_AND_ABDUCTION_OF_OTHERS,DACOITY,ROBBERY,BURGLARY,THEFT,DOWRY_DEATHS,Cluster
0,ANDHRA PRADESH,ADILABAD,2001,101,50,46,30,16,9,41,198,199,16,1
1,ANDHRA PRADESH,ANANTAPUR,2001,151,23,53,30,23,8,16,191,366,7,1
2,ANDHRA PRADESH,CHITTOOR,2001,101,27,59,34,25,4,14,237,723,14,1
3,ANDHRA PRADESH,CUDDAPAH,2001,80,20,25,20,5,1,4,98,173,17,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,23,49,26,23,4,25,437,1021,12,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8592,DELHI UT,STF,2012,0,0,0,0,0,0,0,0,0,0,0
8593,DELHI UT,WEST,2012,52,79,454,256,198,2,52,186,2352,18,2
8594,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,3,7,0,0
8595,PUDUCHERRY,KARAIKAL,2012,5,6,2,2,0,0,3,21,81,0,0
8596,PUDUCHERRY,PUDUCHERRY,2012,24,7,17,14,3,5,13,56,577,0,0

In [50]:
df0 = df[df["Cluster"] == 0]
df0

,STATE_UT,DISTRICT,YEAR,MURDER,RAPE,KIDNAPPING_AND_ABDUCTION,KIDNAPPING_AND_ABDUCTION_OF_WOMEN_AND_GIRLS,KIDNAPPING_AND_ABDUCTION_OF_OTHERS,DACOITY,ROBBERY,BURGLARY,THEFT,DOWRY_DEATHS,Cluster
3,ANDHRA PRADESH,CUDDAPAH,2001,80,20,25,20,5,1,4,98,173,17,0
5,ANDHRA PRADESH,GUNTAKAL RLY.,2001,3,0,0,0,0,5,2,0,162,0,0
10,ANDHRA PRADESH,KRISHNA,2001,65,37,36,21,15,3,15,163,478,10,0
17,ANDHRA PRADESH,PRAKASHAM,2001,102,19,31,12,19,15,14,147,278,5,0
19,ANDHRA PRADESH,SECUNDERABAD RLY.,2001,6,0,0,0,0,0,10,2,296,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8584,DELHI UT,NEW DELHI,2012,9,5,28,13,15,0,9,25,374,0,0
8592,DELHI UT,STF,2012,0,0,0,0,0,0,0,0,0,0,0
8594,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,3,7,0,0
8595,PUDUCHERRY,KARAIKAL,2012,5,6,2,2,0,0,3,21,81,0,0
8596,PUDUCHERRY,PUDUCHERRY,2012,24,7,17,14,3,5,13,56,577,0,0

In [51]:
df1 = df[df["Cluster"] == 1]
df1

,STATE_UT,DISTRICT,YEAR,MURDER,RAPE,KIDNAPPING_AND_ABDUCTION,KIDNAPPING_AND_ABDUCTION_OF_WOMEN_AND_GIRLS,KIDNAPPING_AND_ABDUCTION_OF_OTHERS,DACOITY,ROBBERY,BURGLARY,THEFT,DOWRY_DEATHS,Cluster
0,ANDHRA PRADESH,ADILABAD,2001,101,50,46,30,16,9,41,198,199,16,1
1,ANDHRA PRADESH,ANANTAPUR,2001,151,23,53,30,23,8,16,191,366,7,1
2,ANDHRA PRADESH,CHITTOOR,2001,101,27,59,34,25,4,14,237,723,14,1
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,23,49,26,23,4,25,437,1021,12,1
6,ANDHRA PRADESH,GUNTUR,2001,182,54,82,51,31,16,59,338,1122,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8565,WEST BENGAL,PURULIA,2012,66,50,44,34,10,8,26,2,255,12,1
8568,WEST BENGAL,SILIGURI_PC,2012,32,21,123,111,12,3,29,3,849,3,1
8573,CHANDIGARH,CHANDIGARH,2012,21,27,87,66,21,3,63,235,1549,5,1
8578,DELHI UT,CENTRAL,2012,35,31,180,95,85,2,47,101,1403,4,1
8585,DELHI UT,NORTH,2012,25,14,153,84,69,0,45,97,1025,6,1

In [52]:
df2 = df[df["Cluster"] == 2]
df2

,STATE_UT,DISTRICT,YEAR,MURDER,RAPE,KIDNAPPING_AND_ABDUCTION,KIDNAPPING_AND_ABDUCTION_OF_WOMEN_AND_GIRLS,KIDNAPPING_AND_ABDUCTION_OF_OTHERS,DACOITY,ROBBERY,BURGLARY,THEFT,DOWRY_DEATHS,Cluster
99,BIHAR,PATNA,2001,434,27,197,11,186,91,414,426,1568,90,2
481,RAJASTHAN,BHILWARA,2001,34,42,223,223,0,2,49,365,787,5,2
484,RAJASTHAN,CHITTORGARH,2001,41,67,206,169,37,5,47,402,730,7,2
492,RAJASTHAN,JAIPUR,2001,91,61,247,203,44,7,79,1110,3207,29,2
554,UTTAR PRADESH,AGRA,2001,153,66,203,132,71,50,171,432,1181,63,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8588,DELHI UT,OUTER,2012,96,67,572,317,255,6,91,262,2215,15,2
8589,DELHI UT,SOUTH,2012,39,70,245,134,111,2,52,235,2126,17,2
8590,DELHI UT,SOUTH-EAST,2012,46,116,538,306,232,2,72,201,2892,11,2
8591,DELHI UT,SOUTH-WEST,2012,47,87,399,244,155,0,47,211,1171,18,2
8593,DELHI UT,WEST,2012,52,79,454,256,198,2,52,186,2352,18,2

In [53]:
#Renaming Clusters
cluster_names = {0:'Peaceful Area',1:'Moderate Area',2:'Sensitive Area'}
df['Cluster'] = df['Cluster'].replace(cluster_names)

In [54]:
df

,STATE_UT,DISTRICT,YEAR,MURDER,RAPE,KIDNAPPING_AND_ABDUCTION,KIDNAPPING_AND_ABDUCTION_OF_WOMEN_AND_GIRLS,KIDNAPPING_AND_ABDUCTION_OF_OTHERS,DACOITY,ROBBERY,BURGLARY,THEFT,DOWRY_DEATHS,Cluster
0,ANDHRA PRADESH,ADILABAD,2001,101,50,46,30,16,9,41,198,199,16,Moderate Area
1,ANDHRA PRADESH,ANANTAPUR,2001,151,23,53,30,23,8,16,191,366,7,Moderate Area
2,ANDHRA PRADESH,CHITTOOR,2001,101,27,59,34,25,4,14,237,723,14,Moderate Area
3,ANDHRA PRADESH,CUDDAPAH,2001,80,20,25,20,5,1,4,98,173,17,Peaceful Area
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,23,49,26,23,4,25,437,1021,12,Moderate Area
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8592,DELHI UT,STF,2012,0,0,0,0,0,0,0,0,0,0,Peaceful Area
8593,DELHI UT,WEST,2012,52,79,454,256,198,2,52,186,2352,18,Sensitive Area
8594,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,3,7,0,Peaceful Area
8595,PUDUCHERRY,KARAIKAL,2012,5,6,2,2,0,0,3,21,81,0,Peaceful Area
8596,PUDUCHERRY,PUDUCHERRY,2012,24,7,17,14,3,5,13,56,577,0,Peaceful Area

-- As you could observe from the above codes,we have successfully created clusters based on the most unsafe crimes possible (i.e Murder, Rape , Kidnapping and Abduction, Kidnapping and Abduction of women and girls, Kidnapping and abduction of others) and the most committed crimes in India(i.e Dacoity,Burglary,Theft,Robbery).

We have created three clusters, each representing the safety level of areas.

0 - Peaceful Area - Districts/Areas which have less crime level(low number in all the crimes taken into account).

1 - Moderate Area - Districts/Areas which have neither high nor low crime level, somewhere in the middle.

2 - Sensitive Area - Districts/Areas which have very high crime level (urgent action needed in these areas).

### 4.2 DataFrame for each cluster (according to areas)

In [55]:
peaceful_area = df[df["Cluster"] == 'Peaceful Area']
peaceful_area

,STATE_UT,DISTRICT,YEAR,MURDER,RAPE,KIDNAPPING_AND_ABDUCTION,KIDNAPPING_AND_ABDUCTION_OF_WOMEN_AND_GIRLS,KIDNAPPING_AND_ABDUCTION_OF_OTHERS,DACOITY,ROBBERY,BURGLARY,THEFT,DOWRY_DEATHS,Cluster
3,ANDHRA PRADESH,CUDDAPAH,2001,80,20,25,20,5,1,4,98,173,17,Peaceful Area
5,ANDHRA PRADESH,GUNTAKAL RLY.,2001,3,0,0,0,0,5,2,0,162,0,Peaceful Area
10,ANDHRA PRADESH,KRISHNA,2001,65,37,36,21,15,3,15,163,478,10,Peaceful Area
17,ANDHRA PRADESH,PRAKASHAM,2001,102,19,31,12,19,15,14,147,278,5,Peaceful Area
19,ANDHRA PRADESH,SECUNDERABAD RLY.,2001,6,0,0,0,0,0,10,2,296,1,Peaceful Area
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8584,DELHI UT,NEW DELHI,2012,9,5,28,13,15,0,9,25,374,0,Peaceful Area
8592,DELHI UT,STF,2012,0,0,0,0,0,0,0,0,0,0,Peaceful Area
8594,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,3,7,0,Peaceful Area
8595,PUDUCHERRY,KARAIKAL,2012,5,6,2,2,0,0,3,21,81,0,Peaceful Area
8596,PUDUCHERRY,PUDUCHERRY,2012,24,7,17,14,3,5,13,56,577,0,Peaceful Area

In [90]:
cat_col = []
for i in peaceful_area.dtypes.index:
    if peaceful_area.dtypes[i] == "object":
        cat_col.append(i)
print("Categorical Variables: ",cat_col)

Categorical Variables:  ['STATE_UT', 'DISTRICT', 'YEAR', 'Cluster']

In [91]:
for i in cat_col:
    print(f"Categories in {i} variable: ",end=" ")
    print(peaceful_area[i].unique())

Categories in STATE_UT variable:  ['ANDHRA PRADESH' 'ARUNACHAL PRADESH' 'ASSAM' 'BIHAR' 'CHHATTISGARH' 'GOA'
 'GUJARAT' 'HARYANA' 'HIMACHAL PRADESH' 'JAMMU & KASHMIR' 'JHARKHAND'
 'KARNATAKA' 'KERALA' 'MADHYA PRADESH' 'MAHARASHTRA' 'MANIPUR' 'MEGHALAYA'
 'MIZORAM' 'NAGALAND' 'ODISHA' 'PUNJAB' 'RAJASTHAN' 'SIKKIM' 'TAMIL NADU'
 'TRIPURA' 'UTTAR PRADESH' 'UTTARAKHAND' 'WEST BENGAL' 'A & N ISLANDS'
 'CHANDIGARH' 'D & N HAVELI' 'DAMAN & DIU' 'DELHI UT' 'LAKSHADWEEP'
 'PUDUCHERRY']
Categories in DISTRICT variable:  ['CUDDAPAH' 'GUNTAKAL RLY.' 'KRISHNA' 'PRAKASHAM' 'SECUNDERABAD RLY.'
 'SRIKAKULAM' 'VIJAYAWADA RLY.' 'VISAKHA RURAL' 'VISAKHAPATNAM'
 'VIZIANAGARAM' 'CHANGLANG' 'DIBANG VALLEY' 'KAMENG EAST' 'KAMENG WEST'
 'LOHIT' 'PAPUM PARE' 'SIANG EAST' 'SIANG UPPER' 'SIANG WEST'
 'SUBANSIRI LOWER' 'SUBANSIRI UPPER' 'TAWANG' 'TIRAP' 'BONGAIGAON'
 'C.I.D.' 'DHEMAJI' 'G.R.P.' 'GOALPARA' 'GOLAGHAT' 'HAILAKANDI' 'JORHAT'
 'KARBI ANGLONG' 'KARIMGANJ' 'KOKRAJHAR' 'MORIGAON' 'N.C.HILLS' 'R.P.O.'
 'ARWAL' 'AURANGABAD' 'BAGAHA' 'BANKA' 'BHABHUA' 'BUXAR' 'DARBHANGA'
 'JAMALPUR RLY.' 'JAMUI' 'JEHANABAD' 'KATIHAR RLY.' 'KHAGARIA'
 'KISHANGANJ' 'LAKHISARAI' 'MADHEPURA' 'MADHUBANI' 'MUNGER'
 'MUZAFFARPUR RLY.' 'NAUGACHIA' 'NAWADAH' 'PATNA RLY.' 'SAHARSA'
 'SHEIKHPURA' 'SHEOHAR' 'SITAMARHI' 'SUPAUL' 'BALRAMPUR' 'BIZAPUR'
 'DANTEWARA' 'DHAMTARI' 'GRP RAIPUR' 'JAGDALPUR' 'JANJGIR' 'JASHPUR'
 'KANKER' 'KAWARDHA' 'KORBA' 'KORIYA' 'MAHASAMUND' 'RAIGARH' 'RAJNANDGAON'
 'NORTH GOA' 'SOUTH GOA' 'AHMEDABAD RURAL' 'AHWA-DANG' 'AMRELI' 'ANAND'
 'BHARUCH' 'DAHOD' 'GANDHINAGAR' 'HIMATNAGAR' 'JAMNAGAR' 'JUNAGADH'
 'KHEDA NORTH' 'KUTCH' 'MEHSANA' 'NARMADA' 'NAVSARI' 'PALANPUR'
 'PANCHMAHAL' 'PATAN' 'PORBANDAR' 'RAJKOT COMMR.' 'RAJKOT RURAL'
 'SURAT RURAL' 'SURENDRANAGAR' 'VADODARA COMMR.' 'VADODARA RURAL' 'VALSAD'
 'W.RLY' 'AMBALA' 'BHIWANI' 'FATEHABAD' 'GRP' 'HISSAR' 'JHAJJAR' 'JIND'
 'KAITHAL' 'KARNAL' 'KURUKSHETRA' 'MAHENDRAGARH' 'PANCHKULA' 'PANIPAT'
 'REWARI' 'ROHTAK' 'SIRSA' 'SONIPAT' 'YAMUNANAGAR' 'BILASPUR' 'CHAMBA'
 'HAMIRPUR' 'KANGRA' 'KINNAUR' 'KULLU' 'LAHAUL-SPITI' 'MANDI' 'SHIMLA'
 'SIRMAUR' 'SOLAN' 'UNA' 'AWANTIPORA' 'BORDER' 'BUDGAM' 'CRIME JAMMU'
 'CRIME SRINAGAR' 'DODA' 'GANDERBAL' 'JAMMU' 'KARGIL' 'KATHUA' 'KULGAM'
 'LEH' 'POONCH' 'PULWAMA' 'RAILWAYS' 'RAJOURI' 'RAMBAN' 'REASI' 'UDHAMPUR'
 'BOKARO' 'CHAIBASA' 'CHATRA' 'DEOGHAR' 'DHANBAD RLY.' 'DUMKA' 'GARHWA'
 'GIRIDIH' 'GODDA' 'JAMSHEDPUR RLY.' 'JAMTARA' 'KODERMA' 'LATEHAR'
 'LOHARDAGGA' 'PAKUR' 'PALAMU' 'SAHEBGANJ' 'SARAIKELA' 'SIMDEGA'
 'BAGALKOT' 'BELLARY' 'BIDAR' 'BIJAPUR' 'CHAMARAJNAGAR' 'CHICKMAGALUR'
 'CHITRADURGA' 'DAKSHIN KANNADA' 'DAVANAGERE' 'DHARWAD COMMR.'
 'DHARWAD RURAL' 'GADAG' 'HASSAN' 'HAVERI' 'K.G.F.' 'KODAGU' 'KOLAR'
 'KOPPAL' 'MANDYA' 'MYSORE COMMR.' 'MYSORE RURAL' 'RAICHUR' 'SHIMOGA'
 'TUMKUR' 'UDUPI' 'UTTAR KANNADA' 'ALAPUZHA' 'CBCID' 'ERNAKULAM' 'IDUKKI'
 'KANNUR' 'KASARGOD' 'KOLLAM' 'KOTTAYAM' 'KOZHIKODE' 'MALAPPURAM'
 'PALAKKAD' 'PATHANAMTHITTA' 'THRISSUR' 'TRIVANDRUM' 'WAYANADU' 'BALAGHAT'
 'BARWANI' 'BETUL' 'BHIND' 'BHOPAL RLY.' 'CHHATARPUR' 'CHHINDWARA' 'DAMOH'
 'DATIYA' 'DEWAS' 'DINDORI' 'HARDA' 'HOSHANGABAD' 'INDORE RLY.'
 'JABALPUR RLY.' 'KATNI' 'KHANDWA' 'KHARGON' 'MANDLA' 'MANDSAUR' 'MORENA'
 'NARSINGHPUR' 'NEEMUCH' 'PANNA' 'RAISEN' 'RAJGARH' 'RATLAM' 'REWA'
 'SATNA' 'SEONI' 'SHAHDOL' 'SHAJAPUR' 'SHEOPUR' 'SHIVPURI' 'SIDHI'
 'SIHORE' 'TIKAMGARH' 'UMARIYA' 'VIDISHA' 'AKOLA' 'AMRAVATI COMMR.'
 'AMRAVATI RURAL' 'AURANGABAD COMMR.' 'AURANGABAD RURAL' 'BEED' 'BHANDARA'
 'BULDHANA' 'CHANDRAPUR' 'DHULE' 'GADCHIROLI' 'GONDIA' 'HINGOLI' 'JALGAON'
 'JALNA' 'KOLHAPUR' 'LATUR' 'MUMBAI RLY.' 'NAGPUR RLY.' 'NANDURBAR'
 'NASIK COMMR.' 'NASIK RURAL' 'NAVI MUMBAI' 'OSMANABAD' 'PARBHANI'
 'PUNE RLY.' 'RAIGAD' 'RATNAGIRI' 'SANGLI' 'SATARA' 'SINDHUDURG'
 'SOLAPUR COMMR.' 'SOLAPUR RURAL' 'WARDHA' 'WASHIM' 'YAVATMAL' 'BISHNUPUR'
 'CHANDEL' 'CHURACHANDPUR' 'IMPHAL(EAST)' 'IMPHAL(WEST)' 'SENAPATI'
 'TAMENGLONG' 'THOUBAL' 'UKHRUL' 'GARO HILLS EAST' 'GARO HILLS SOUTH'
 'GARO HILLS WEST' 'JAINTIA HILLS' 'KHASI HILLS EAST' 'KHASI HILLS WEST'
 'RI-BHOI' 'AIZAWL' 'CHAMPHAI' 'KOLASIB' 'LAWNGTLAI' 'LUNGLEI' 'MAMIT'
 'SAIHA' 'SERCHHIP' 'DIMAPUR' 'KIPHIRE' 'KOHIMA' 'MOKOKCHUNG' 'MON'
 'PEREN' 'PHEK' 'TUENSANG' 'WOKHA' 'ZUNHEBOTO' 'ANGUL' 'BALASORE'
 'BARAGARH' 'BERHAMPUR' 'BHADRAK' 'BOLANGIR' 'BOUDH' 'CUTTACK' 'DEOGARH'
 'DHENKANAL' 'GAJAPATI' 'GANJAM' 'JAGATSINGHPUR' 'JAJPUR' 'JHARSUGUDA'
 'KALAHANDI' 'KANDHAMAL' 'KENDRAPARA' 'KEONJHAR' 'KHURDA' 'KORAPUT'
 'MALKANGIR' 'NAYAGARH' 'NOWRANGPUR' 'NUAPADA' 'PURI' 'RAYAGADA'
 'ROURKELA' 'SAMBALPUR' 'SONEPUR' 'SRP(CUTTACK)' 'SRP(ROURKELA)'
 'SUNDARGARH' 'AMRITSAR' 'BARNALA' 'BATALA' 'BHATINDA' 'FARIDKOT'
 'FATEHGARH SAHIB' 'FEROZEPUR' 'G.R.P' 'GURDASPUR' 'HOSHIARPUR' 'JAGRAON'
 'KAPURTHALA' 'KHANNA' 'MAJITHA' 'MANSA' 'MOGA' 'MUKTSAR' 'NAWAN SHAHR'
 'ROPAR' 'SANGRUR' 'TARN TARAN' 'BARMER' 'BIKANER' 'CHURU' 'DAUSA'
 'DHOLPUR' 'DUNGARPUR' 'HANUMANGARH' 'JAISALMER' 'JALORE' 'JHUNJHUNU'
 'NAGAUR' 'RAJSAMAND' 'SAWAI MADHOPUR' 'SIKAR' 'SIROHI' 'TONK' 'EAST'
 'NORTH' 'SOUTH' 'WEST' 'ARIYALUR' 'CHENGAI' 'CHENNAI' 'CHENNAI RLY.'
 'COIMBATORE RURAL' 'COIMBATORE URBAN' 'CUDDALORE' 'DHARMAPURI' 'ERODE'
 'KANCHIPURAM' 'KANYAKUMARI' 'KARUR' 'MADURAI RURAL' 'MADURAI URBAN'
 'NAGAPATTINAM' 'NAMAKKAL' 'NILGIRIS' 'PERAMBALUR' 'PUDUKOTTAI'
 'RAMNATHAPURAM' 'SALEM RURAL' 'SALEM URBAN' 'SIVAGANGAI' 'THANJAVUR'
 'THENI' 'THIRUNELVELI URBAN' 'THIRUVALLUR' 'THIRUVANNAMALAI' 'THIRUVARUR'
 'THOOTHUGUDI' 'TRICHY RLY.' 'TRICHY RURAL' 'TRICHY URBAN' 'VELLORE'
 'VIRUDHUNAGAR' 'DHALAI' 'AMBEDKAR NAGAR' 'AURAIYA' 'BAGHPAT' 'BAHRAICH'
 'BALLIA' 'BANDA' 'BASTI' 'CHANDOLI' 'CHITRAKOOT DHAM' 'DEORIA' 'FAIZABAD'
 'GHAZIPUR' 'GONDA' 'JALAUN' 'JAUNPUR' 'JHANSI' 'KANNAUJ' 'KAUSHAMBI'
 'KUSHI NAGAR' 'LALITPUR' 'MAHARAJGANJ' 'MAHOBA' 'MAU' 'MIRZAPUR'
 'SANT KABIRNAGAR' 'SHRAWASTI' 'SIDHARTHNAGAR' 'SONBHADRA'
 'ST.RAVIDASNAGAR' 'ALMORA' 'BAGESHWAR' 'CHAMOLI' 'CHAMPAWAT' 'DEHRADUN'
 'NAINITAL' 'PAURI GARHWAL' 'PITHORAGARH' 'RUDRA PRAYAG' 'TEHRI GARHWAL'
 'UDHAMSINGH NAGAR' 'UTTARKASHI' 'ASANSOL' 'BANKURA' 'COOCHBEHAR'
 'DAKSHIN DINAJPUR' 'DARJEELING' 'HOWRAH' 'HOWRAH CITY' 'HOWRAH G.R.P.'
 'MALDA' 'PURULIA' 'SEALDAH G.R.P.' 'SILIGURI G.R.P.' 'UTTAR DINAJPUR'
 'ANDAMAN' 'NICOBAR' 'CHANDIGARH' 'D and N HAVELI' 'DAMAN' 'DIU' 'CENTRAL'
 'G.R.P.(RLY)' 'I.G.I. AIRPORT' 'NEW DELHI' 'S.T.F.' 'LAKSHADWEEP'
 'PONDICHERRY' 'DARRANG' 'NALBARI' 'GOPALGANJ' 'KABIRDHAM' 'BHAVNAGAR'
 'HANDWARA' 'KUPWARA' 'GUMLA' 'BELGAUM' 'GUNA' 'AHMEDNAGAR' 'JALANDHAR'
 'PATIALA' 'KARAULI' 'DINDIGUL' 'FATEHPUR' 'GAUTAMBUDH NAGAR' 'J.P.NAGAR'
 'KANPUR DEHAT' 'PRATAPGARH' 'SULTANPUR' 'BIRBHUM' 'HOOGHLY' 'JALPAIGURI'
 'KHARAGPUR G.R.P.' 'PURAB MIDNAPUR' 'SPL CELL' 'NIZAMABAD' 'RANGA REDDY'
 'VIJAYAWADA' 'K/KUMEY' 'UPPER DIBANG VALLEY' 'KAMRUP' 'TINSUKIA' 'ARARIA'
 'DURG' 'NARAYANPUR' 'GURGAON' 'HAZARIBAGH' 'JAMSHEDPUR' 'GULBARGA'
 'ERNAKULAM COMMR.' 'ERNAKULAM RURAL' 'KOZHIKODE COMMR.' 'KOZHIKODE RURAL'
 'TRIVANDRUM COMMR.' 'TRIVANDRUM RURAL' 'ANUPPUR' 'ASHOK NAGAR'
 'BURHANPUR' 'UJJAIN' 'NAGPUR RURAL' 'NANDED' 'MAYURBHANJ' 'BANSWARA'
 'THIRUNELVELI RURAL' 'AZAMGARH' 'BARABANKI' 'BIJNOR' 'ETAWAH' 'FATEHGARH'
 'GORAKHPUR' 'HATHRAS' 'PILIBHIT' 'RAIBAREILLY' 'RAMPUR' 'VARANASI'
 'BHOJPUR' 'KRISHNAGIRI' 'BASKA' 'CHIRANG' 'UDALGURI' 'ROHTAS' 'SARGUJA'
 'SURAJPUR' 'MEWAT' 'FEROZPUR' 'BARAN' 'SAHARANPUR' 'IGI AIRPORT' 'PURNEA'
 'PALWAL' 'BORDER DISTRICT' 'IMPHAL EAST' 'IMPHAL WEST' 'SAS NGR' 'BUNDI'
 'GANGANAGAR' 'JAIPUR EAST' 'JAIPUR NORTH' 'JAIPUR SOUTH' 'JODHPUR CITY'
 'JODHPUR RURAL' 'KOTA RURAL' 'VILLUPURAM' 'GRP(RLY)' 'STF' 'KARAIKAL'
 'VIJAYAWADA CITY' 'BETTIAH' 'ANANTNAG' 'KHUNTI' 'RAMGARH' 'DHAR' 'JHABUA'
 'LONGLENG' 'AMRITSAR RURAL' 'JHALAWAR' 'A and N ISLANDS' 'TAPI'
 'BANDIPORA' 'BARAMULLA' 'KISHTWAR' 'SAMBA' 'SHOPIAN' 'BANGALORE RURAL'
 'CBPURA' 'RAMANAGAR' 'ALIRAJPUR' 'SINGRAULI' 'CID' 'DCP BBSR' 'DCP CTC'
 'LUDHIANA RURAL' 'SBS NAGAR' 'CHENNAISUBURBAN' 'KANSHIRAM NAGAR' 'CAW'
 'CRIME BRANCH' 'EOW' 'PUDUCHERRY' 'ANJAW' 'BADDIPOLICEDIST'
 'RAILWAYS KMR' 'GUNTUR URBAN' 'RAJAHMUNDRY' 'TIRUPATHI URBAN' 'WARANGAL'
 'WARANGAL URBAN' 'RURAL' 'CID CRIME' 'CRIME KASHMIR' 'SOPORE' 'SRINAGAR'
 'YADGIRI' 'CP AMRITSAR' 'CP JALANDHAR' 'JALANDHAR RURAL' 'G.R.P. AJMER'
 'G.R.P. JODHPUR' 'TIRUPPUR' 'GARIYABAND' 'KUTCH (EAST(G))'
 'KUTCH (WEST-BHUJ)' 'W.RLY AHMEDABAD' 'W.RLY VADODARA' 'RAILWAYS JAMMU'
 'RAILWAYS KASHMIR' 'MANGALORE CITY' 'KOLLAM COMMR.' 'KOLLAM RURAL'
 'THRISSUR COMMR.' 'THRISSUR RURAL' 'FAZILKA' 'LUDHIANA' 'PATHANKOT'
 'G.R.P.AJMER' 'G.R.P.JODHPUR' 'BIEO' 'HAMREN' 'BALOD' 'BALODA BAZAR'
 'BEMETARA' 'KONDAGAON' 'MUNGELI' 'RAIPUR' 'SUKMA' 'AMBALA RURAL'
 'AMBALA URBAN' 'RAILWAYS KATRA' 'JODHPUR EAST' 'JODHPUR WEST' 'GOMATI'
 'KHOWAI' 'SIPAHIJALA' 'UNAKOTI' 'BDN CP' 'JHARGRAM' 'CAR']
Categories in YEAR variable:  ['2001' '2002' '2003' '2004' '2005' '2006' '2007' '2008' '2009' '2010'
 '2011' '2012']
Categories in Cluster variable:  ['Peaceful Area']

In [56]:
#Moderate area
moderate_area = df[df["Cluster"] == 'Moderate Area']
moderate_area

,STATE_UT,DISTRICT,YEAR,MURDER,RAPE,KIDNAPPING_AND_ABDUCTION,KIDNAPPING_AND_ABDUCTION_OF_WOMEN_AND_GIRLS,KIDNAPPING_AND_ABDUCTION_OF_OTHERS,DACOITY,ROBBERY,BURGLARY,THEFT,DOWRY_DEATHS,Cluster
0,ANDHRA PRADESH,ADILABAD,2001,101,50,46,30,16,9,41,198,199,16,Moderate Area
1,ANDHRA PRADESH,ANANTAPUR,2001,151,23,53,30,23,8,16,191,366,7,Moderate Area
2,ANDHRA PRADESH,CHITTOOR,2001,101,27,59,34,25,4,14,237,723,14,Moderate Area
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,23,49,26,23,4,25,437,1021,12,Moderate Area
6,ANDHRA PRADESH,GUNTUR,2001,182,54,82,51,31,16,59,338,1122,7,Moderate Area
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8565,WEST BENGAL,PURULIA,2012,66,50,44,34,10,8,26,2,255,12,Moderate Area
8568,WEST BENGAL,SILIGURI_PC,2012,32,21,123,111,12,3,29,3,849,3,Moderate Area
8573,CHANDIGARH,CHANDIGARH,2012,21,27,87,66,21,3,63,235,1549,5,Moderate Area
8578,DELHI UT,CENTRAL,2012,35,31,180,95,85,2,47,101,1403,4,Moderate Area
8585,DELHI UT,NORTH,2012,25,14,153,84,69,0,45,97,1025,6,Moderate Area

In [88]:
cat_col = []
for i in moderate_area.dtypes.index:
    if moderate_area.dtypes[i] == "object":
        cat_col.append(i)
print("Categorical Variables: ",cat_col)

Categorical Variables:  ['STATE_UT', 'DISTRICT', 'YEAR', 'Cluster']

In [89]:
for i in cat_col:
    print(f"Categories in {i} variable: ",end=" ")
    print(moderate_area[i].unique())

Categories in STATE_UT variable:  ['ANDHRA PRADESH' 'ASSAM' 'BIHAR' 'CHHATTISGARH' 'GUJARAT' 'HARYANA'
 'JAMMU & KASHMIR' 'JHARKHAND' 'KARNATAKA' 'MADHYA PRADESH' 'MAHARASHTRA'
 'ODISHA' 'PUNJAB' 'RAJASTHAN' 'TAMIL NADU' 'TRIPURA' 'UTTAR PRADESH'
 'UTTARAKHAND' 'WEST BENGAL' 'DELHI UT' 'MANIPUR' 'CHANDIGARH']
Categories in DISTRICT variable:  ['ADILABAD' 'ANANTAPUR' 'CHITTOOR' 'EAST GODAVARI' 'GUNTUR'
 'HYDERABAD CITY' 'KARIMNAGAR' 'KHAMMAM' 'KURNOOL' 'MAHABOOBNAGAR' 'MEDAK'
 'NALGONDA' 'NELLORE' 'NIZAMABAD' 'RANGA REDDY' 'VIJAYAWADA' 'WARANGAL'
 'WEST GODAVARI' 'BARPETA' 'CACHAR' 'DARRANG' 'DHUBRI' 'DIBRUGARH'
 'GUWAHATI CITY' 'KAMRUP' 'LAKHIMPUR' 'NAGAON' 'NALBARI' 'SIBSAGAR'
 'SONITPUR' 'TINSUKIA' 'ARARIA' 'BEGUSARAI' 'BETTIAH' 'BHAGALPUR'
 'BHOJPUR' 'GAYA' 'GOPALGANJ' 'KATIHAR' 'MOTIHARI' 'MUZAFFARPUR' 'NALANDA'
 'PURNEA' 'ROHTAS' 'SAMASTIPUR' 'SARAN' 'SIWAN' 'VAISHALI' 'BILASPUR'
 'DURG' 'RAIPUR' 'SARGUJA' 'AHMEDABAD COMMR.' 'BHAVNAGAR' 'SURAT COMMR.'
 'FARIDABAD' 'GURGAON' 'ANANTNAG' 'BARAMULLA' 'KUPWARA' 'SRINAGAR'
 'DHANBAD' 'GUMLA' 'HAZARIBAGH' 'JAMSHEDPUR' 'RANCHI' 'BANGALORE COMMR.'
 'BANGALORE RURAL' 'BELGAUM' 'GULBARGA' 'BHOPAL' 'DHAR' 'GUNA' 'GWALIOR'
 'INDORE' 'JABALPUR' 'JHABUA' 'SAGAR' 'UJJAIN' 'AHMEDNAGAR' 'MUMBAI'
 'NAGPUR COMMR.' 'NAGPUR RURAL' 'NANDED' 'PUNE COMMR.' 'PUNE RURAL'
 'THANE COMMR.' 'THANE RURAL' 'MAYURBHANJ' 'JALANDHAR' 'LUDHIANA'
 'PATIALA' 'AJMER' 'ALWAR' 'BANSWARA' 'BARAN' 'BHARATPUR' 'BUNDI'
 'GANGANAGAR' 'JHALAWAR' 'JODHPUR' 'KARAULI' 'KOTA' 'PALI' 'UDAIPUR'
 'DINDIGUL' 'THIRUNELVELI RURAL' 'VILLUPURAM' 'WEST' 'ALIGARH' 'ALLAHABAD'
 'AZAMGARH' 'BADAUN' 'BARABANKI' 'BAREILLY' 'BIJNOR' 'BULANDSHAHAR' 'ETAH'
 'ETAWAH' 'FATEHGARH' 'FATEHPUR' 'FIROZABAD' 'GAUTAMBUDH NAGAR'
 'GHAZIABAD' 'GORAKHPUR' 'HARDOI' 'HATHRAS' 'J.P.NAGAR' 'KANPUR DEHAT'
 'KHIRI' 'MAINPURI' 'MATHURA' 'MEERUT' 'MORADABAD' 'MUZAFFARNAGAR'
 'PILIBHIT' 'PRATAPGARH' 'RAIBAREILLY' 'RAMPUR' 'SAHARANPUR'
 'SHAHJAHANPUR' 'SITAPUR' 'SULTANPUR' 'UNNAO' 'VARANASI' 'HARIDWAR'
 '24 PARGANAS NORTH' '24 PARGANAS SOUTH' 'BIRBHUM' 'BURDWAN' 'HOOGHLY'
 'JALPAIGURI' 'KOLKATA' 'MIDNAPUR' 'MURSHIDABAD' 'NADIA' 'EAST' 'NORTH'
 'NORTH EAST' 'SOUTH WEST' 'GOLAGHAT' 'BANKA' 'DARBHANGA' 'VADODARA RURAL'
 'CHAIBASA' 'BETUL' 'YAVATMAL' 'KHURDA' 'CHITTORGARH' 'TONK' 'CHENNAI'
 'DHARMAPURI' 'VELLORE' 'AGRA' 'KANPUR NAGAR' 'PASCHIM MIDNAPUR' 'SOUTH'
 'CUDDAPAH' 'CYBERABAD' 'KRISHNA' 'PRAKASHAM' 'KHAGARIA' 'MADHUBANI'
 'NAWADAH' 'SITAMARHI' 'PULWAMA' 'SHIVPURI' 'NASIK RURAL' 'SOLAPUR RURAL'
 'BHILWARA' 'CHENGAI' 'SALEM RURAL' 'LUCKNOW' 'BAGAHA' 'JAMUI'
 'KISHANGANJ' 'BUDGAM' 'JALAUN' 'MALDA' 'PURAB MIDNAPUR' 'GOALPARA'
 'MUNGER' 'CHHINDWARA' 'CUTTACK' 'SIKAR' 'COIMBATORE RURAL' 'VILUPPURAM'
 'SOUTH-WEST' 'VIJAYAWADA CITY' 'AURANGABAD' 'SONIPAT' 'SIDHI' 'KEONJHAR'
 'JAIPUR RURAL' 'KOTA CITY' 'BAGHPAT' 'UDHAMSINGH NAGAR' 'COOCHBEHAR'
 'HOWRAH' 'UTTAR DINAJPUR' 'JORHAT' 'BOKARO' 'SATNA' 'BEED' 'JALGAON'
 'SATARA' 'IMPHAL WEST' 'SUNDARGARH' 'JAIPUR NORTH' 'CUDDALORE' 'ERODE'
 'THANJAVUR' 'DEHRADUN' 'DHEMAJI' 'KOKRAJHAR' 'MORIGAON' 'UDALGURI'
 'SUPAUL' 'JASHPUR' 'GIRIDIH' 'PALAMU' 'ANGUL' 'GANJAM' 'JAJPUR' 'DHOLPUR'
 'NAGAUR' 'THOOTHUGUDI' 'BAHRAICH' 'FAIZABAD' 'CENTRAL' 'NORTH-WEST'
 'SOUTH-EAST' 'BUXAR' 'JUNAGADH' 'PALANPUR' 'BHIWANI' 'PANIPAT'
 'MUMBAI COMMR.' 'DAUSA' 'HANUMANGARH' 'JHUNJHUNU' 'SAWAI MADHOPUR'
 'MADURAI RURAL' 'TIRUPPUR' 'GONDA' 'JAUNPUR' 'DARJEELING' 'BONGAIGAON'
 'HAILAKANDI' 'MADHEPURA' 'PANCHMAHAL' 'RAJKOT RURAL' 'HISSAR' 'JAMMU'
 'MANDYA' 'MYSORE RURAL' 'REWA' 'BALASORE' 'CP LUDHIANA' 'JAIPUR EAST'
 'KRISHNAGIRI' 'THENI' 'VIRUDHUNAGAR' 'CSM NAGAR' 'RAMABAI NAGAR'
 'BANKURA' 'DAKSHIN DINAJPUR' 'PURULIA' 'BASKA' 'KARIMGANJ'
 'AHMEDABAD RURAL' 'AMRELI' 'JAMNAGAR' 'MEHSANA' 'PALWAL' 'ROHTAK'
 'SAHEBGANJ' 'RAMANAGAR' 'TUMKUR' 'CHHATARPUR' 'RAISEN' 'RATLAM'
 'DUNGARPUR' 'JAIPUR WEST' 'THIRUVANNAMALAI' 'TRICHY RURAL'
 'AMBEDKAR NAGAR' 'AURAIYA' 'BHIM NAGAR' 'JHANSI' 'KANNAUJ'
 'KANSHIRAM NAGAR' 'KUSHI NAGAR' 'PANCHSHIL NAGAR' 'PRABUDDH NAGAR'
 'ASANSOL' 'HOWRAH CITY' 'BAKSA' 'SAHARSA' 'DAHOD' 'RAJKOT COMMR.' 'JIND'
 'KARNAL' 'SIRSA' 'YAMUNANAGAR' 'GODDA' 'RAJGARH' 'BHADRAK' 'DCP BBSR'
 'JAGATSINGHPUR' 'KENDRAPARA' 'PURI' 'SIROHI' 'BALLIA' 'DEORIA' 'GHAZIPUR'
 'MAHARAJGANJ' 'MAU' 'SILIGURI_PC' 'CHANDIGARH']
Categories in YEAR variable:  ['2001' '2002' '2003' '2004' '2005' '2006' '2007' '2008' '2009' '2010'
 '2011' '2012']
Categories in Cluster variable:  ['Moderate Area']

In [57]:
#Sensitive Area
sensitive_area = df[df["Cluster"] == 'Sensitive Area']
sensitive_area

,STATE_UT,DISTRICT,YEAR,MURDER,RAPE,KIDNAPPING_AND_ABDUCTION,KIDNAPPING_AND_ABDUCTION_OF_WOMEN_AND_GIRLS,KIDNAPPING_AND_ABDUCTION_OF_OTHERS,DACOITY,ROBBERY,BURGLARY,THEFT,DOWRY_DEATHS,Cluster
99,BIHAR,PATNA,2001,434,27,197,11,186,91,414,426,1568,90,Sensitive Area
481,RAJASTHAN,BHILWARA,2001,34,42,223,223,0,2,49,365,787,5,Sensitive Area
484,RAJASTHAN,CHITTORGARH,2001,41,67,206,169,37,5,47,402,730,7,Sensitive Area
492,RAJASTHAN,JAIPUR,2001,91,61,247,203,44,7,79,1110,3207,29,Sensitive Area
554,UTTAR PRADESH,AGRA,2001,153,66,203,132,71,50,171,432,1181,63,Sensitive Area
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8588,DELHI UT,OUTER,2012,96,67,572,317,255,6,91,262,2215,15,Sensitive Area
8589,DELHI UT,SOUTH,2012,39,70,245,134,111,2,52,235,2126,17,Sensitive Area
8590,DELHI UT,SOUTH-EAST,2012,46,116,538,306,232,2,72,201,2892,11,Sensitive Area
8591,DELHI UT,SOUTH-WEST,2012,47,87,399,244,155,0,47,211,1171,18,Sensitive Area
8593,DELHI UT,WEST,2012,52,79,454,256,198,2,52,186,2352,18,Sensitive Area

In [64]:
cat_col = []
for i in sensitive_area.dtypes.index:
    if sensitive_area.dtypes[i] == "object":
        cat_col.append(i)
print("Categorical Variables: ",cat_col)

Categorical Variables:  ['STATE_UT', 'DISTRICT', 'YEAR', 'Cluster']

In [65]:
for i in cat_col:
    print(f"Categories in {i} variable: ",end=" ")
    print(sensitive_area[i].unique())

Categories in STATE_UT variable:  ['BIHAR' 'RAJASTHAN' 'UTTAR PRADESH' 'DELHI UT' 'ASSAM' 'GUJARAT'
 'MAHARASHTRA' 'WEST BENGAL' 'ANDHRA PRADESH' 'KARNATAKA' 'TAMIL NADU']
Categories in DISTRICT variable:  ['PATNA' 'BHILWARA' 'CHITTORGARH' 'JAIPUR' 'AGRA' 'KANPUR NAGAR' 'LUCKNOW'
 'NORTH WEST' 'SOUTH' 'GUWAHATI CITY' 'NAGAON' 'BETTIAH' 'MUZAFFARPUR'
 'VAISHALI' 'AHMEDABAD COMMR.' 'MUMBAI' '24 PARGANAS NORTH' 'NORTH-EAST'
 'NORTH-WEST' 'MUMBAI COMMR.' '24 PARGANAS SOUTH' 'JALPAIGURI'
 'MURSHIDABAD' 'NADIA' 'OUTER' 'UDAIPUR' 'GHAZIABAD' 'MEERUT' 'MORADABAD'
 'EAST' 'CYBERABAD' 'DHUBRI' 'SONITPUR' 'BANGALORE COMMR.' 'ALWAR'
 'BHARATPUR' 'ALIGARH' 'BAREILLY' 'MUZAFFARNAGAR' 'MALDA' 'SOUTH-EAST'
 'SOUTH-WEST' 'WEST' 'BARPETA' 'GORAKHPUR' 'COOCHBEHAR' 'HOWRAH' 'CACHAR'
 'DARRANG' 'MADHUBANI' 'MOTIHARI' 'SIWAN' 'VILLUPURAM' 'ALLAHABAD'
 'BULANDSHAHAR' 'SITAPUR' 'PURAB MIDNAPUR' 'UTTAR DINAJPUR' 'GOLAGHAT'
 'DARBHANGA' 'FIROZABAD' 'KHIRI' 'UNNAO' 'BKP CP' 'HOOGHLY' 'KOLKATA']
Categories in YEAR variable:  ['2001' '2002' '2003' '2004' '2005' '2006' '2007' '2008' '2009' '2010'
 '2011' '2012']
Categories in Cluster variable:  ['Sensitive Area']

### 4.3 Analysing the clusters

Q : What is impacting more crimes in sensitive areas?

The reason for impact of more crimes in sensitive areas is due to immigration of people from rural to urban(as we can see above from the unique variables in the 'district' column) most of the districts/areas are metropolitan cities like (Bangalore, Kolkata, Ahmedabad etc.) immigration to these areas causes crime rate to increase.

(How?) 
Lack of Employment - People move to these areas for employment, while some of them do get employed but most of them won't this causes them to commit crimes like burglary, theft, murder etc.

Lack of Education - With the problem of Immigration, there is lack of education or knowledge about basic human virtues. Lack of education leads to increase in crime against women like rape,Kidnapping and Abduction etc.

Q : What needs to be done to reduce crime?

The reason why there is more crimes in sensitive area is because of lack of rules and regulations implemented by the government, although the crimes occured in sensitive areas have high literacy rate people seem to not care of the situation and that is why strict action must be taken by the government and more force should be deployed (few either from peaceful areas and moderate areas) so that crime rate can be controlled.

In [67]:
# Most unsafe districts for each crime
#Rape
max_value_row_index = df['RAPE'].idxmax()
max_value = df.loc[max_value_row_index,'RAPE']
print("Maximum value of column 'RAPE':",max_value,"at row index:",max_value_row_index)

Maximum value of column 'RAPE': 568 at row index: 6287

In [69]:
df.iloc[6287]

STATE_UT                                          WEST BENGAL
DISTRICT                                          MURSHIDABAD
YEAR                                                     2009
MURDER                                                    184
RAPE                                                      568
KIDNAPPING_AND_ABDUCTION                                  408
KIDNAPPING_AND_ABDUCTION_OF_WOMEN_AND_GIRLS               342
KIDNAPPING_AND_ABDUCTION_OF_OTHERS                         66
DACOITY                                                    22
ROBBERY                                                    73
BURGLARY                                                   11
THEFT                                                     857
DOWRY_DEATHS                                               51
Cluster                                        Sensitive Area
Name: 6287, dtype: object

In [70]:
#Murder
max_value_row_index = df['MURDER'].idxmax()
max_value = df.loc[max_value_row_index,'MURDER']
print("Maximum value of column 'MURDER':",max_value,"at row index:",max_value_row_index)

Maximum value of column 'MURDER': 542 at row index: 2160

In [71]:
df.iloc[2160]

STATE_UT                                                BIHAR
DISTRICT                                                PATNA
YEAR                                                     2004
MURDER                                                    542
RAPE                                                       46
KIDNAPPING_AND_ABDUCTION                                  270
KIDNAPPING_AND_ABDUCTION_OF_WOMEN_AND_GIRLS                39
KIDNAPPING_AND_ABDUCTION_OF_OTHERS                        231
DACOITY                                                   123
ROBBERY                                                   751
BURGLARY                                                  584
THEFT                                                    1568
DOWRY_DEATHS                                               44
Cluster                                        Sensitive Area
Name: 2160, dtype: object

In [72]:
#Kidnapping and Abduction
max_value_row_index = df['KIDNAPPING_AND_ABDUCTION'].idxmax()
max_value = df.loc[max_value_row_index,'KIDNAPPING_AND_ABDUCTION']
print("Maximum value of column 'KIDNAPPING_AND_ABDUCTION':",max_value,"at row index:",max_value_row_index)

Maximum value of column 'KIDNAPPING_AND_ABDUCTION': 587 at row index: 7770

In [73]:
df.iloc[7770]

STATE_UT                                             WEST BENGAL
DISTRICT                                       24 PARGANAS NORTH
YEAR                                                        2011
MURDER                                                       232
RAPE                                                         203
KIDNAPPING_AND_ABDUCTION                                     587
KIDNAPPING_AND_ABDUCTION_OF_WOMEN_AND_GIRLS                  414
KIDNAPPING_AND_ABDUCTION_OF_OTHERS                           173
DACOITY                                                       32
ROBBERY                                                      117
BURGLARY                                                      27
THEFT                                                       2918
DOWRY_DEATHS                                                  88
Cluster                                           Sensitive Area
Name: 7770, dtype: object

In [74]:
#Kidnapping and Abduction
max_value_row_index = df['KIDNAPPING_AND_ABDUCTION_OF_WOMEN_AND_GIRLS'].idxmax()
max_value = df.loc[max_value_row_index,'KIDNAPPING_AND_ABDUCTION_OF_WOMEN_AND_GIRLS']
print("Maximum value of column 'KIDNAPPING_AND_ABDUCTION_OF_WOMEN_AND_GIRLS':",max_value,"at row index:",max_value_row_index)

Maximum value of column 'KIDNAPPING_AND_ABDUCTION_OF_WOMEN_AND_GIRLS': 492 at row index: 7787

In [75]:
df.iloc[7787]

STATE_UT                                          WEST BENGAL
DISTRICT                                          MURSHIDABAD
YEAR                                                     2011
MURDER                                                    145
RAPE                                                      433
KIDNAPPING_AND_ABDUCTION                                  566
KIDNAPPING_AND_ABDUCTION_OF_WOMEN_AND_GIRLS               492
KIDNAPPING_AND_ABDUCTION_OF_OTHERS                         74
DACOITY                                                    21
ROBBERY                                                    47
BURGLARY                                                   13
THEFT                                                    1109
DOWRY_DEATHS                                               49
Cluster                                        Sensitive Area
Name: 7787, dtype: object

In [76]:
#DACOITY
max_value_row_index = df['DACOITY'].idxmax()
max_value = df.loc[max_value_row_index,'DACOITY']
print("Maximum value of column 'DACOITY':",max_value,"at row index:",max_value_row_index)

Maximum value of column 'DACOITY': 219 at row index: 814

In [77]:
df.iloc[814]

STATE_UT                                                GUJARAT
DISTRICT                                       AHMEDABAD COMMR.
YEAR                                                       2002
MURDER                                                      222
RAPE                                                         12
KIDNAPPING_AND_ABDUCTION                                    153
KIDNAPPING_AND_ABDUCTION_OF_WOMEN_AND_GIRLS                  92
KIDNAPPING_AND_ABDUCTION_OF_OTHERS                           61
DACOITY                                                     219
ROBBERY                                                     206
BURGLARY                                                    643
THEFT                                                      4007
DOWRY_DEATHS                                                  6
Cluster                                           Moderate Area
Name: 814, dtype: object

In [78]:
#ROBBERY
max_value_row_index = df['ROBBERY'].idxmax()
max_value = df.loc[max_value_row_index,'ROBBERY']
print("Maximum value of column 'ROBBERY':",max_value,"at row index:",max_value_row_index)

Maximum value of column 'ROBBERY': 1131 at row index: 8231

In [79]:
df.iloc[8231]

STATE_UT                                          MAHARASHTRA
DISTRICT                                        MUMBAI COMMR.
YEAR                                                     2012
MURDER                                                    215
RAPE                                                      232
KIDNAPPING_AND_ABDUCTION                                  212
KIDNAPPING_AND_ABDUCTION_OF_WOMEN_AND_GIRLS               141
KIDNAPPING_AND_ABDUCTION_OF_OTHERS                         71
DACOITY                                                    29
ROBBERY                                                  1131
BURGLARY                                                 2500
THEFT                                                   10851
DOWRY_DEATHS                                               11
Cluster                                        Sensitive Area
Name: 8231, dtype: object

In [82]:
#Burglary
max_value_row_index = df['BURGLARY'].idxmax()
max_value = df.loc[max_value_row_index,'BURGLARY']
print("Maximum value of column 'BURGLARY':",max_value,"at row index:",max_value_row_index)

Maximum value of column 'BURGLARY': 3175 at row index: 3124

In [83]:
df.iloc[3124]

STATE_UT                                          MAHARASHTRA
DISTRICT                                               MUMBAI
YEAR                                                     2005
MURDER                                                    212
RAPE                                                      201
KIDNAPPING_AND_ABDUCTION                                  198
KIDNAPPING_AND_ABDUCTION_OF_WOMEN_AND_GIRLS               122
KIDNAPPING_AND_ABDUCTION_OF_OTHERS                         76
DACOITY                                                    47
ROBBERY                                                   362
BURGLARY                                                 3175
THEFT                                                   11903
DOWRY_DEATHS                                                9
Cluster                                        Sensitive Area
Name: 3124, dtype: object

In [80]:
#THEFT
max_value_row_index = df['THEFT'].idxmax()
max_value = df.loc[max_value_row_index,'THEFT']
print("Maximum value of column 'THEFT':",max_value,"at row index:",max_value_row_index)

Maximum value of column 'THEFT': 13195 at row index: 6715

In [81]:
df.iloc[6715]

STATE_UT                                          MAHARASHTRA
DISTRICT                                        MUMBAI COMMR.
YEAR                                                     2010
MURDER                                                    228
RAPE                                                      194
KIDNAPPING_AND_ABDUCTION                                  194
KIDNAPPING_AND_ABDUCTION_OF_WOMEN_AND_GIRLS               146
KIDNAPPING_AND_ABDUCTION_OF_OTHERS                         48
DACOITY                                                    35
ROBBERY                                                   410
BURGLARY                                                 3059
THEFT                                                   13195
DOWRY_DEATHS                                               21
Cluster                                        Sensitive Area
Name: 6715, dtype: object

Above are the most unsafe districts (highest count of each crime)

Most unsafe districts(keeping in mind the well being of women) are :

MURSHIDABAD(WEST BENGAL) , 24 PARAGANAS NORTH(WEST BENGAL) , PATNA(BIHAR)

Most unsafe districts(keeping in mind the safety of households) are:

MUMBAI(MAHARASHTRA), AHMEDABAD(GUJURAT)

Action must be taken in these districts, as the crime rate is too high.